*.png
*.gif
*.jpg
*.jpeg
*.htaccess
*.swf
*.pdf
*.csv
*.eot
*.ttf
*.woff
*.woff2
*.ico
*.psd
*.otf
*.svg
*.xml
*.properties
*.sql
*.sqlite
*.md
*.log
.DS_Store
.DS_Store?

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.ftpquota
*.yml

.idea
nbproject

*.composerLog
*.env
*.ini
*.yml
*.yarn.lock
*.xml
*.txt
*.sh
*.conf
*.bower.json
*bower.json
*LICENSE
*ChangeLog
*README
*.editorconfig
*.eslintignore
*.eslintrc
*composer.json
*.jshintrc
*.info
*.xls
*.doc
*.docx
*.ppt
*.bak
*error_log
*.db
*.cur
*.map
*.wav
*.less
*.scss
*.coffee
*CNAME
*.jade
*.bowerrc
*.jscsrc
*.csslintrc
*.ttc
*dummy